{% extends 'base.html' %}

{% load staticfiles %}
{% block dup-jumbo %}
<div></div>
{% endblock %}

{% block sidebar %}
<div id="sidebar-article">
	<ul><a href="/admin"><img src="{% static "images/admin.png" %}" width="50">Admin</a></ul>
	<ul><a href="/articles/all"><img src="{% static "images/a.png" %}" width="50">All Articles</a></ul>
	<ul><a href="/articles/create"><img src="{% static "images/create article.png" %}" width="50">Create Article</a></ul>

	<h3>Search</h3>
	{% csrf_token %}
	<input type="text" id="search" name="search"/>
	<ul id="search-results">

	</ul>	
</div>				
{% endblock %}


{% block content %}
<div class="content-details">	
	<h2>Your Login detais are invalid!</h2>
	<p><a  href="/accounts/login/" class="btn btn-success btn-mg">LOGIN</a></p>
</div>
{% endblock %}