{% extends 'base.html' %}

{% load staticfiles %}
{% block dup-jumbo %}
<div></div>
{% endblock %}

{% block sidebar %}
<div id="sidebar-article">
	<ul><a href="/admin"><img src="{% static "images/admin.png" %}" width="50">Admin</a></ul>
	<ul><a href="/articles/all"><img src="{% static "images/a.png" %}" width="50">All Articles</a></ul>
	<ul><a href="/articles/create"><img src="{% static "images/create article.png" %}" width="50">Create Article</a></ul>

	<h3>Search</h3>
	{% csrf_token %}
	<input type="text" id="search" name="search"/>
	<ul id="search-results">

	</ul>	
</div>				
{% endblock %}


{% block content %}
<div id="content-details-ex">	
	<form action='/articles/create/' method='post' enctype="multipart/form-data">{% csrf_token %}
		<ul>
			{{ form.as_p }}
		</ul>
		<div class="content-details-ex-inner">
			 
			<input type='submit' name='submit' value='Create Article'>
		</div>
		
	</form>
</div>
{% endblock %}

